body {
    background-color: #00081B;
    font-family: 'Ubuntu Mono', monospace;
}

:root {
    background-color: #00081B;
    padding: 2% 10%;
}

@media only screen and (max-width: 700px) {
    :root {
        padding: 2% 5%;
    }
}